<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alumni</title>

    
    <!-- MAIN CSS -->
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
   
<style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}


input{
  margin-top: 10px;
  margin-right: 8px;
  background-color: black;
  color: white;

}




.w3-bar .w3-button {
  padding: 16px;
}
.w3-col{
  margin-left: auto;
  margin-right: auto;
}
.gallery{
  height: 500px;
  background-color: slategray;
   background-image: url('https://images.shiksha.com/mediadata/images/1601352019phpsSsFXa.png'); 
  color: black;
  

   
   /* background-image: url('http://www.birds.com/wp-content/uploads/home/bird4.jpg');  */
  
  background-repeat: no-repeat;
  background-size: 100% 100%;
   
  margin-left: auto;
  margin-right: auto;
 
  

}
p{
  color: black;
}

.c1{
  height: 150px;
  width: 100%;
}







.counter
{
    background-color: #eaecf0;
    text-align: center;
}
.employees,.customer,.design,.order
{
    margin-top: 70px;
    margin-bottom: 70px;
}
.counter-count
{
    font-size: 18px;
    background-color: #00b3e7;
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 92px;
    height: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}

.employee-p,.customer-p,.order-p,.design-p
{
    font-size: 24px;
    color: #000000;
    line-height: 34px;
}



</style>
</head>

<body>
    
<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
      <a href="home" class="w3-bar-item w3-button w3-wide">ALUMNI-CONNECT</a>
      <!-- Right-sided navbar links -->
      <div class="w3-right w3-hide-small">
        
        <form action="/home" method="POST">
            
            <input type="submit" name="Type" value="event" />
            <input type="submit" name="Type" value="jobs" />
            <input type="submit" name="Type" value="internships" />

            <input type="submit" name="Type" value="apply" />
            <input type="submit" name="Type" value="batch" />
        
            <input type="submit" name="Type" value="reachout" />

            <input type="submit" name="Type" value="about" />
            <input type="submit" name="Type" value="Logout" />
            <!-- <button style="font-size:24px"> <i class="fa fa-question-circle"><a href="http://localhost:8000/">?</a></i></button> -->
            

        </form>
      </div>
     
  
     
    </div>
  </div>
   
  <div class="gallery" >
   
    

  </div>

 


  

  <div class="c1" style="background-color: lightseagreen;">
    
    <!-- <button style="font-size:24px; margin: 0 auto; display: block;" > <i class="fa fa-question-circle"><a href="http://localhost:8000/">Helpdesk?</a></i></button> -->
    <p style="text-align: center; font-size: 30px; padding-bottom: 3px;">Welcome to IIITG Alumni</p>
    <p style="text-align: center; font-size: 25px; padding-bottom: 3px; font-style: italic;">bring together...</p>
    
  </div>
  <div class="counter">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="employees">
                    <p class="counter-count">250</p>
                    <p class="employee-p">alumni</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="customer">
                    <p class="counter-count">8</p>
                    <p class="customer-p">years</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="design">
                    <p class="counter-count">750</p>
                    <p class="design-p">students</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="order">
                    <p class="counter-count">5</p>
                    <p class="order-p">startup</p>
                </div>
            </div>
        </div>
    </div>
</div>

  
  <!-- Footer -->
  <footer class="w3-center w3-black w3-padding-64">
    <p style="text-align: center; color: white;">IIIT Guwahati</p>
      <p style="text-align: center; color: white;">Bongora, Guwahati</p>
      <p style="text-align: center;color: white;">Assam</p>
      <p style="text-align: center;color: white;">Pin :781015</p>
    <a href="home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
   
   
  </footer>
   
  <script>
  // Modal Image Gallery
  function onClick(element) {
    document.getElementById("img01").src = element.src;
    document.getElementById("modal01").style.display = "block";
    var captionText = document.getElementById("caption");
    captionText.innerHTML = element.alt;
  }
  
  
  var mySidebar = document.getElementById("mySidebar");
  
  function w3_open() {
    if (mySidebar.style.display === 'block') {
      mySidebar.style.display = 'none';
    } else {
      mySidebar.style.display = 'block';
    }
  }
  
  // Close the sidebar with the close button
  function w3_close() {
      mySidebar.style.display = "none";
  }




  $('.counter-count').each(function () {
        $(this).prop('Counter',0).animate({
            Counter: $(this).text()
        }, {
            duration: 5000,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });


  </script>
  
  
  </body>
  </html>
  