<div style="display: flex; justify-content: center; color: white; align-content: center; width: 100vw; height: 100v;  box-sizing: border-box;">
    <div style="height: 800px; height: 800px; display: flex; flex-direction: column;">
        <h1>Create new credentials</h1>
        <p style="font-size: 20px; color: grey;">Enter new pasword.</p>
        <form method="POST" action="/users/f_p/change_pass">
            <input name="new_pass" minlength="8" pattern=".{8,}" required placeholder="New password" style="width : 400px; height : 45px; border-radius: 25px; outline: none; border: 1px solid grey;box-sizing: border-box; padding-left: 20px; font-size: 25px;"><br>
            <br><input name="confirm_pass" minlength="8" pattern=".{8,}" required placeholder="Confirm new password" style="width : 400px; height : 45px; border-radius: 25px; outline: none; border: 1px solid grey;box-sizing: border-box; padding-left: 20px; font-size: 25px;"><br>
            <button type="submit" style="margin-top:30px; height: 45px; width : 100px; border-radius: 25px; cursor: pointer; border: none; color: white; font-weight: bold; font-size: 20px; background-color: rgb(12, 12, 87);" >Confirm</button>
        </form>
    </div>
</div>
<script>
    function preventBack() {
        window.history.forward();
    }

    setTimeout("preventBack()", 0);
    window.onunload = function() {
        null
    };
</script>