<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<style>
    body {
        background-image: url('../IIIT-Guwahati.jpg');
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
        font-family: "Lato";

    }
</style>
<div class=""
    style="border:1 solid whitesmoke; background-color: rgb(123, 221, 228);opacity: 0.8;border-radius: 20px; margin:10vh 30vw; padding:3% 5%;align-items: center;">

    <h2 style="text-align: center;">Set a new password</h2>

    <form action="/forgot_password/cp" method="POST" style="margin-top: 2vh;">

        <div class="md-form md-outline">
            <input type="password" name="new_password" id="newPass" class="form-control" placeholder="New password">

        </div>

        <div class="md-form md-outline" style="margin-top: 1vh;">
            <input type="password" id="newPassConfirm" onkeyup="checkPass();return false;" name="confirm_password" class="form-control"
                placeholder="Confirm password">
        </div>

        <button type="submit" style="margin-top: 1vh;" class="btn btn-primary mb-3">Change password</button>

    </form>
    <div id="error-nwl"></div>
    <div class="d-flex  mb-2">

        <u><a href="/login">Back to Log In</a></u>


    </div>

</div>
<script>
    function checkPass() {
        var pass1 = document.getElementById('newPass');
        var pass2 = document.getElementById('newPassConfirm');
        var message = document.getElementById('error-nwl');
        var goodColor = "#66cc66";
        var badColor = "#ff6666";

        if (pass1.value.length > 7 && pass2.value.length > 7) {
            pass1.style.backgroundColor = goodColor;
            message.style.color = 'blue';
            message.innerHTML = "character number ok!"
            if (pass1.value == pass2.value) {
                pass2.style.backgroundColor = goodColor;
                message.style.color = 'blue';
                message.innerHTML = "ok!"
            }
            else {
                pass2.style.backgroundColor = badColor;
                message.style.color = badColor;
                message.innerHTML = " These passwords don't match"
            }
        }
        else {
            pass1.style.backgroundColor = badColor;
            message.style.color = badColor;
            message.innerHTML = " you have to enter at least 8 digit!"
        }

    }
</script>