<!DOCTYPE html>
<html>

    <head>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
            rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
            integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/logged.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="container-fluid">


            <br>
            <br>
            <br>
            <h1>WELCOME</h1>
            <input class="btn btn-primary custom" type="button" id="addfaculty" onfocus=faculty(this)
                value='Add faculty'><br>

            <input class="btn btn-primary custom" type="button" id="addbatch" onfocus=batch(this) value='Add Batch'><br>
            <input class="btn btn-primary custom" type="button" id="addmajor" onfocus=major(this) value='Add Major'><br>
            <a href="/changepassword"><i class="fas fa-lock" type="button" title='Change password'
                    style="margin-right: 20px;"></i></a>
            <a href="/logout"><i class="fas fa-sign-out-alt" title="Logout"></i></a>
            <br>
            <br>

        </div>
        <div class="btn-group btn-group-justified " style="display: grid; grid-template-columns: 33.33% 33.33% 33.33%;">
            <a href="/admin/showtables?table=faculty_login" class="btn btn-primary ">Show Faculty</a>
            <a href="/admin/showtables?table=student_login" class="btn btn-primary ">Show Batch</a>
            <a href="/admin/showtables?table=subject_info" class="btn btn-primary ">Show Major</a>
        </div>
        <div id='add_faculty' class="di" style='display: none !important;' >
            
                <input class="input1 rounded" name="numbers" type='number' placeholder="Enter number of faculty">
                <button class="btn btn-secondary" onclick=function1(this)>Create</button>
                <br><br><br>
                <h1>OR</h1>
                <br>
                <form action="/upload_faculty" method="post"  enctype="multipart/form-data">
                    <input class="input2" type="file" id="fileSelect" name="fileSelect" required />
                    <button class="upload btn btn-secondary" type="submit">Upload</button>
                </form>
           
        </div>

        <div id='add_batch' style='display: none;' class="di">
            <input class="input1 rounded" name="numbers" type='number' placeholder="Enter number of Student">
            <button class="btn btn-secondary" onclick=function2(this)>Create</button>
            <br><br><br>
            <h1>OR</h1>
            <br>
            <form action="/upload_student" method="post" enctype="multipart/form-data">
                <input class="input2" type="file" id="fileSelect" name="fileSelect" />
                <button class="upload btn btn-secondary" type="submit">Upload</button>
            </form>
        </div>
        <div id='add_major' style='display: none;' class="di">
            <input class="input1 rounded" name="numbers" type='number' placeholder="Enter number of major">
            <button class="btn btn-secondary" onclick=function3(this)>Create</button>
            <br><br><br>
            <h1>OR</h1>
            <br>
            <form action="/upload_major" method="post" enctype="multipart/form-data">
                <input class="input2" type="file" id="fileSelect" name="fileSelect" />
                <button class="upload btn btn-secondary" type="submit">Upload</button>
            </form>
        </div>

        <form action="/create_faculty" id="formA" style="display: none;" method='POST' class="formm">
            <table id='table_fac' class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Name</th>
                        <th scope="col">email</th>
                        <th scope="col">password</th>
                    </tr>
                </thead>
                <tr id='faculty'>
                    <td>
                        <div>
                            <!-- <label for="id">Id/Roll_faculty</label> -->
                            <input class="" type="number" id="id" name="id" required>
                        </div>
                    </td>
                    <td>
                        <div>
                            <!-- <label for="name">Name</label> -->
                            <input type="name" id="name" name="name" required>
                        </div>
                    </td>
                    <td>
                        <div>
                            <!-- <label for="email">Email</label> -->
                            <input type="email" id="email" name="email" required>
                        </div>
                    </td>
                    <td>
                        <div>
                            <!-- <label for="password">Password</label> -->
                            <input type="password" id="password" name="password" required>
                        </div>
                    </td>
                </tr>
            </table>
            <button class="" value="add" name="add">Add</button>
        </form>
        <form action="/create_major" id="formC" style="display: none;" method='POST' class="formm">
            <table id='table_major' class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Code</th>
                        <th>Major</th>
                        <th>Faculty_id</th>
                        <th>FacultyName</th>
                        <th>Sem</th>
                    </tr>
                </thead>
                <tr id='major'>
                    <td>
                        <div>
                            <!-- <label for="id">Id/Roll_faculty</label> -->
                            <input type="text" id="Code" name="Code" required>
                        </div>
                    </td>
                    <td>
                        <div>
                            <!-- <label for="name">Name</label> -->
                            <input type="text" id="Major" name="Major" required>
                        </div>
                    </td>
                    <td>
                        <div>
                            <!-- <label for="email">Email</label> -->
                            <input type="number" id="Faculty_id" name="Faculty_id" required>
                        </div>
                    </td>
                    <td>
                        <div>
                            <!-- <label for="password">Password</label> -->
                            <input type="text" id="FacultyName" name="FacultyName" required>
                        </div>
                    </td>
                    <td>
                        <div>
                           
                            <input type="number" id="Sem" name="Sem" required>
                        </div>
                    </td>
                </tr>
            </table>
            <button value="add" name="add">Add</button>
        </form>

        <form action="/create_student" id='formB' style="display: none;" method="POST" class="formm">
            <table id='table_student' class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Roll</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Batch</th>
                        <th>Branch</th>
                        <th>Group</th>
                        <th>Sem</th>
                    </tr>
                </thead>

                <tr id='student'>
                    <td>
                        <div>

                            <input type="number" id="id" name="id" required>
                        </div>
                    </td>
                    <td>

                        <div>

                            <input type="name" id="name" name="name" required>
                        </div>
                    </td>
                    <td>
                        <div>

                            <input type="email" id="email" name="email" required>
                        </div>
                    </td>
                    <td>
                        <div>

                            <input type="password" id="password" name="password" required>
                        </div>
                    </td>
                    <td>
                        <div>

                            <input type="number" id="batch" name="batch" required>
                        </div>
                    </td>
                    <td>
                        <div>

                            <select name="branch" id="branch">
                                <option value="CSE">CSE</option>
                                <option value="ECE">ECE</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div>

                            <input type="text" id="group" name="group" required>
                        </div>
                    </td>
                    <td>
                        <div>

                            <input type="number" id="sem" name="sem" required>
                        </div>
                    </td>
                </tr>
            </table>
            <button type="submit">Add</button>
        </form>
        <script type="text/javascript" src="/js/frontend.js"></script>

    </body>

</html>