<h1>Login</h1>
<form id="login_info" action="/login/create-session" method="POST" >
    <div>
        <label for="idd">Id/Roll</label>
        <input type="text" id="id" name="id" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button value="student_login" name="login">Student</button>
    <button value="faculty_login" name="login">Faculty</button>
    <button value="Admin" name="login">Admin</button>
</form> 