.custom{
    width: 150px !important;
    height: 50px;
margin-left: 40px;
margin-bottom: 60px;
  
}
.btn-primary{
    background-color:#9c754856 ;
    border: none;
   
}
#addfaculty:hover{
    background-color: rgba(79, 128, 69, 0.445);
}
#addbatch:hover{
    background-color:#e0cfc0;
}
#addmajor:hover{
    background-color: #d5a667;
}
.container-fluid{
    
    padding: 0 0;
    background-image: url("../admin.jpg");
    background-repeat: no-repeat;
    background-size: 100% 600px;
    padding-bottom: 10px;
    position: relative;

}
.container-fluid i{
    color:rgba(79, 128, 69, 0.445);
    position: absolute;
}
.container-fluid i:hover{
    position: fixed;
    font-size: 30px;
}
.container-fluid h1{
    font-family: 'Dancing Script', cursive;
     color: beige;
     font-size: 100px;
    /* position: absolute; */
    margin-top: 0.3%;
    /* margin-left: 45%; */
    text-align: center;
   
}
.container-fluid a{
    margin-top: -20px !important;
margin-left: 3%;
}
/* Add faculty  */
body{
    background-image: url('../grass.jpg');  
    background-repeat: no-repeat;
    background-color:#d4e2d4 ;
}
.di{
    text-align: center;
    margin: 10px 30%;
    background-color:#5eaaa8;
    border-radius: 10px;

}
.di h1{
   
    color: rgb(7, 49, 26);
}

.btn-light{
    padding: 1px;
    width: 60px; 
}

.di .input1{
    align-items: center;
    text-align: center;
    margin-top: 20px;
    border-color: azure;
}

.di .input2{
    align-items: center;
    margin-left: 25%;
    margin-top: 10px;
}
.upload{
    margin-left: 40%;
    width:70px;
    text-align: center;
}
.di button:nth-child(2){
    margin-top: 5px;
    margin-bottom: 10px;
}

.formm{
    margin-left:10%;
    margin-right: 10%;
}
table, th, td {
    border: 1px solid whitesmoke ;
    border-collapse: collapse;
}
td{
    width: 100px !important;
}
