<link rel="stylesheet" type="text/css" href="/css/stage2.css"/>
<div class="wrapper fadeInDown" style="opacity: 0.9; ">
  <div id="formContent" style="background-color: #2c2b2b">
    <!-- Tabs Titles -->
    <i class="fa fa-user" style="font-size: 65px; color: #4b4545;  margin-top: 10px;"></i>
    <!-- <h3 style="color: grey">admin portal</h3> -->
    <!-- Login Form -->
    <form style="padding-top: 10px;" action="/verify/stage2" method="POST" >
      <input type="text" id="login" required class="fadeIn second" style="width: 85%" name="id" placeholder="Enter Your User-Id" autocomplete="off">
      <div style="width: 85%;  margin :auto; padding:0px; display: flex; flex-direction: row; justify-content: center;border-radius: 5px;; align-items: center; background-color: rgb(232, 240, 254) !important">
        <input type="password" onkeyup="checkPass()" id="password" minlength="8" pattern=".{8,}" required class="fadeIn third" name="password" style="margin: 0px; width: 90%" placeholder="Enter password of min length 8" autocomplete="off">
        <i class="fa fa-eye" id="toggle-password" style="width: 10%" aria-label="Show password as plain text. Warning: this will display your password on the screen."></i>
      </div><br>
      <input type="submit" class="fadeIn fourth" value="Login" style="background-color: #2b2b2c; cursor: pointer;">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter" style="background-color:black">
      <a class="underlineHover" href="/users/forget_password" style="color: rgb(74, 148, 71); text-decoration: none;">Forgot Password?</a>
    </div>
  </div>
</div>
<script>
const passwordInput = document.getElementById('password');
const togglePasswordButton = document.getElementById('toggle-password');

togglePasswordButton.addEventListener('click', togglePassword);

function togglePassword() {
if (passwordInput.type === 'password') {
  passwordInput.type = 'text';
  togglePasswordButton.classList.replace("fa-eye", "fa-eye-slash");
  togglePasswordButton.setAttribute('aria-label',
    'Hide password.');
} else {
  passwordInput.type = 'password';
  togglePasswordButton.classList.replace("fa-eye-slash", "fa-eye");
  togglePasswordButton.setAttribute('aria-label',
    'Show password as plain text. ' +
    'Warning: this will display your password on the screen.');
}
}
function checkPass() {
  console.log('hello')
  // this.style.backgroundColor = 'red';
  const password = document.getElementById('password');
  
  if(password.value.length < 8) {
    password.style.backgroundColor = 'red';
  }  else {
    password.style.backgroundColor = 'green';
  }
  if(password.value.length === 0){
    password.style.backgroundColor = 'white';
  }
}
function preventBack() {
        window.history.forward();
    }

    setTimeout("preventBack()", 0);
    window.onunload = function() {
        null
    };
</script>